:root {
  --focus-color: #2196f3;
  --text-color: #212121;
  --contacts-text-color: #757575;
  --section-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

.section {
  padding-bottom: 40px;
  padding-top: 40px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 40px;
  padding-right: 40px;
}

.site-nav {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.85;
  letter-spacing: 0.02em;
  text-align: left;
}
.site-nav {
  display: flex;
  column-gap: 60px;
}
.site-nav:hover, .site-nav:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item {
  color: var(--text-color);
}

.contacts {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.85;
  letter-spacing: 0.02em;
  text-align: left;
}

.contacts__item {
  color: var(--contacts-text-color);
}
.contacts__item:hover, .contacts__item:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts {
  display: flex;
  column-gap: 32px;
}

.hero-title {
  font-family: Roboto, sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}

.hero-button {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}

.h3-title {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 0, 85;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-color);
}

.site-hero {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border: none;
}
.hero-button {
  background-color: var(--focus-color);
  color: #ffffff;
}

.site-hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image.png);
  background-color: var(--footer-background-color);
}

.about-us__item {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.h2-title {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-us {
  display: flex;
  column-gap: 30px;
}

.works-examples-list {
  display: flex;
  justify-content: space-around;
}

.works-examples-overlay {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-projects-item-title {
  color: var(--text-color);
}

.works-examples-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.works-examples-overlay-wrapper {
  position: relative;
}

.about-us-icon {
  width: 70px;
  height: 70px;
}

.about-us-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 244, 250);
  width: 250px;
  height: 120px;
  border-radius: 4px 0px 0px 0px;
  margin-bottom: 15px;
}

.footer-nav {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 32px;
}

.footer-nav__item {
  color: #ffffff;
}
.footer-nav__item {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-footer {
  background-color: var(--footer-background-color);
}

.site-footer-container {
  display: flex;
  padding-top: 40px;
}

.footer-form-input {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}

.modal-form-field-desk {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 0.85;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--contacts-text-color);
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.footer-form-container {
  padding-top: 27px;
  display: flex;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid var(--contacts-text-color);
  background-color: var(--footer-background-color);
  text-transform: #ffffff;
}

.footer-form-btn {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--focus-color);
  color: #ffffff;
  margin-left: 10px;
  border: 1px transparent;
  border-radius: 3px;
}

.form-icon {
  width: 24px;
  height: 25px;
  fill: #ffffff;
}

.footer-form-label {
  color: #ffffff;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover {
  outline: none;
  border-color: var(--focus-color);
}
.modal-input:focus {
  outline: none;
  border-color: var(--focus-color);
}
.modal-input {
  cursor: pointer;
}

.modal-label {
  margin-bottom: 20px;
}

.modal-form-field-desk {
  display: block;
  margin-bottom: 8px;
}

.footer-icon-bar {
  display: flex;
  column-gap: 15px;
  margin-top: 32px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.icon:hover {
  background-color: var(--focus-color);
}
.icon:focus {
  background-color: var(--focus-color);
}

.icon-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.icon-bar-holder {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.footer-form-label {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: 0.03em;
  text-align: left;
}

.icon-bar-title {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: 0.03em;
  text-align: left;
  color: aqua;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background-color: #ffffff;
  padding: 40px;
}

.backdrop-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop-title {
  margin-bottom: 15px;
}

.modal-icon-wrapper {
  position: relative;
  display: block;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  fill: var(--text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .modal-input-icon {
  fill: var(--focus-color);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--focus-color);
}

.modal-text-aria {
  width: 100%;
  height: 120px;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-aria:hover {
  outline: none;
  border-color: var(--focus-color);
}
.modal-text-aria:focus {
  outline: none;
  border-color: var(--focus-color);
}

.modal-check-field {
  display: inline;
}

.modal-checkbox-icon {
  width: 15px;
  height: 15px;
}

.modal-check-icon {
  width: 15px;
  height: 15px;
  border: 1px solid;
  border-radius: 3px;
  color: 33, 33, 33, 0.2;
}
.modal-form-check:checked + .modal-check-icon {
  background-color: var(--focus-color);
}
.modal-form-check:focus + .modal-check-icon {
  box-shadow: 0 0 0 1px blue;
}

.modal-form-check-icon {
  display: none;
  fill: #ffffff;
  margin-right: 20px;
}
.modal-form-check:checked + .modal-check-icon .modal-form-check-icon {
  display: block;
}

.modal-form-check {
  position: absolute;
  appearance: none;
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.policy {
  color: var(--focus-color);
}

.modal-form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
  top: 713px;
  left: 700px;
  border-radius: 4px;
  border: transparent;
  background-color: var(--focus-color);
  color: #ffffff;
}

.hover-line {
  position: absolute;
  left: -7px;
  top: 25px;
  width: 60px;
  height: 4px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  background-color: var(--focus-color);
}

.site-nav__item {
  position: relative;
}

.hover-line-portfolio {
  position: absolute;
  left: 7px;
  top: 25px;
  width: 60px;
  height: 4px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  background-color: var(--focus-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background-color: #ffffff;
  padding: 40px;
}

.backdrop-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop-title {
  margin-bottom: 15px;
}

.modal-icon-wrapper {
  position: relative;
  display: block;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  fill: var(--text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .modal-input-icon {
  fill: var(--focus-color);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--focus-color);
}

.modal-text-aria {
  width: 100%;
  height: 120px;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-aria:hover {
  outline: none;
  border-color: var(--focus-color);
}
.modal-text-aria:focus {
  outline: none;
  border-color: var(--focus-color);
}

.modal-check-field {
  display: inline;
}

.modal-checkbox-icon {
  width: 15px;
  height: 15px;
}

.modal-check-icon {
  width: 15px;
  height: 15px;
  border: 1px solid;
  border-radius: 3px;
  color: 33, 33, 33, 0.2;
}
.modal-form-check:checked + .modal-check-icon {
  background-color: var(--focus-color);
}
.modal-form-check:focus + .modal-check-icon {
  box-shadow: 0 0 0 1px blue;
}

.modal-form-check-icon {
  display: none;
  fill: #ffffff;
  margin-right: 20px;
}
.modal-form-check:checked + .modal-check-icon .modal-form-check-icon {
  display: block;
}

.modal-form-check {
  position: absolute;
  appearance: none;
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.policy {
  color: var(--focus-color);
}

.modal-form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
  top: 713px;
  left: 700px;
  border-radius: 4px;
  border: transparent;
  background-color: var(--focus-color);
  color: #ffffff;
}

.icon:hover,
.icon:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-list {
  display: flex;
}

.regular-customers-container {
  width: 170px;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #afb1b8;
  margin-left: 20px;
}
.regular-customers-container:hover, .regular-customers-container:focus {
  border-color: var(--focus-color);
}
.regular-customers-container:hover, .regular-customers-container:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-icon {
  width: 106px;
  fill: rgb(175, 177, 184);
}
.regular-customers-container:hover .regular-customers-icon, .regular-customers-container:focus .regular-customers-icon {
  fill: var(--focus-color);
}
.regular-customers-container:hover .regular-customers-icon, .regular-customers-container:focus .regular-customers-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-crew {
  background-color: var(--section-background-color);
}

.icon-bar-title {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}

.our-team {
  display: flex;
  justify-content: space-around;
}

.crew-icon-bar-holder {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 35px;
}

.crew-icon-container {
  background-color: #ffffff;
  width: 240px;
  border-bottom-right-radius: 4%;
  border-bottom-left-radius: 4%;
}

.our-crew-title {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.85;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 15px;
}

.our-crew-suptitle {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 0.85;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--contacts-text-color);
}

.crew-social-list-icon {
  width: 20px;
  height: 20px;
  fill: rgb(175, 177, 184);
}
.crew-social-list-icon:hover, .crew-social-list-icon:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon:hover .crew-social-list-icon {
  fill: #ffffff;
}

.our-crew__item {
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}

.link:hover,
.link:focus {
  color: var(--focus-color);
}

.button-list {
  display: flex;
  justify-content: center;
  list-style: none;
  column-gap: 10px;
}

.menu-btn {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #000;
  background-color: rgb(245, 244, 250);
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 12px;
  margin-right: 12px;
}
.menu-btn:hover, .menu-btn:focus {
  background-color: var(--focus-color);
  color: #ffffff;
}
.menu-btn:focus, .menu-btn:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-project-picture-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 404px);
  gap: 25px;
  padding: 10px;
  margin-bottom: 32px;
}

.our-projects-item-title {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  background-color: #ffffff;
}

.our-project-item {
  border: solid 1px, rgb(238, 238, 238);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.backdrop-title {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay-wrapper:hover .overlay, .overlay-wrapper:focus .overlay {
  transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */