.hover-line {
  position: absolute;
  left: -7px;
  top: 25px;
  width: 60px;
  height: 4px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  background-color: var(--focus-color);
}
.site-nav__item {
  position: relative;
}
.hover-line-portfolio {
  position: absolute;
  left: 7px;
  top: 25px;
  width: 60px;
  height: 4px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  background-color: var(--focus-color);
}
